<% if flash[:notice] %>
 <%= flash[:notice] %>
 <% end %>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Height: <%= @user.height %></li>
  <li>Nausea: <%= @user.nausea %></li>
  <li>Happiness: <%= @user.happiness %></li>
  <li>Mood: <%= @user.mood %></li>
  <li>Tickets: <%= @user.tickets %></li>
  <% if @user.admin %>
    <li><%= "ADMIN" %></li>
  <% end %>
</ul>
<br>
<%= link_to "See attractions", attractions_path %>
